@model List<Car>

@{
    ViewData["Title"] = "Veículos";
}

<h1>Veículos Cadastrados</h1>
@if (@TempData["msg"] != null)
{
    <alert message='@TempData["msg"]' type="info"></alert>
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="w--75">
        <form asp-action="index" method="GET">
            <div class="input-group">
                <label for="year" class="input-group-text">Pesquise pelo ano</label>
                <input
                    type="number"
                    name="year"
                    id="year"
                    min="1920"
                    max="9999"
                    class="form-control"
                    placeholder="Ano do veículo"
                />
                <button class="btn btn-outline-primary" title="Pesquisar" type="submit">
                    <i class="bi bi-search"></i>
                    <span class="ms-2 ml-2 d-none d-md-inline">Buscar</span>
                </button>
            </div>
        </form>
    </div>
    <a class="btn btn-outline-secondary" asp-action="store" asp-conroller="car" title="Cadastrar novo veículo">
        <i class="bi bi-plus-lg"></i>
        <span class="ms-2 ml-2"><span class="d-none d-md-inline">Cadastrar</span> veículo</span>
    </a>
</div>

<div class="table-responsive-md">
    <table class="table table-striped table-hover table-sm table-bordered table-primary">
        <caption>Total de veículos @(@ViewBag.filter ? "encontrados" : "cadastrados") em nossa base: @Model.Count()</caption>
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Ano</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Modelo</th>
                <th scope="col">Classe</th>
                <th scope="col">Valor</th>
                <th scope="col">Dt. Registro</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr class="text-center">
                    <td colspan="8">Nenhum registro ainda...</td>
                </tr>
            }
            @foreach (var car in Model)
            {
                <tr class="text-center">
                    <th scope="row">
                        <div class="text-right text-end">
                            @car.CarId
                        </div>
                    </th>
                    <td>
                        <div>
                            @car.Year
                        </div>
                    </td>
                    <td>@car.Manufacturer</td>
                    <td>@car.Model</td>
                    <td>
                        <div>
                            @car.VehicleType
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <span>R$</span>
                            <span>@car.Value.ToString("n")</span>
                        </div>
                    </td>
                    <td>
                        <div>@car.CreatedAt.ToShortDateString()</div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Ações">
                                <a asp-action="edit" asp-route-id="@car.CarId" class="btn btn-outline-info" title="Editar">
                                    <i class="bi bi-pencil"></i>
                                    <span class="sr-only visually-hidden">Editar registro</span>
                                </a>

                                <button 
                                    class="btn btn-outline-danger car-remove"
                                    title="Excluir"
                                    data-toggle="modal"
                                    data-target="#removeCarModal"
                                    data-car-id="@car.CarId"
                                    data-car-model="@car.Model"
                                    data-car-manufacturer="@car.Manufacturer"
                                >
                                    <i class="bi bi-trash"></i>
                                    <span class="sr-only visually-hidden">Remover registro</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<partial name="_Modal" />

@section Scripts {
<script>
    $(document).ready(function () {
        $('.car-remove').click(function () {
            const elmnt = this;

            const id = $(elmnt).data("car-id");
            const model = $(elmnt).data('car-model');
            const manufacturer = $(elmnt).data('car-manufacturer');

            $("#carId").val(parseInt(id));
            $("#carModelToRemove").text(`${manufacturer} ${model}`);
        });
    });
</script>
}
